* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
    background-color: #f1f1f1;
    width: 100%;

}
header {
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url('assets/background_4.jpg');
    background-size: cover;
    background-position: center;
    height: 750px;
    margin-bottom: 5px;
}
.search-form {
    display: flex;
    align-content: baseline;
    justify-content: center;
    padding: 8px;
    border: 3px solid paleturquoise;
    border-radius: 10px;
}
.search-bar {
    padding: 10px 30px;
    background-color: honeydew;
    border: 3px solid cadetblue;
    margin-right: 5px;
    border-radius: 5px;

}
.photo-button {
    background-color: honeydew;
    border: 3px solid cadetblue;
    margin: 0px 5px;
    font-size: 25px;
    padding: 5px 10px;
    border-radius: 5px;

}
.video-button {
    font-size: 25px;
    background-color: honeydew;
    border: 3px solid cadetblue;
    margin: 0px 5px;
    padding: 5px 10px;
    border-radius: 5px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}
.video-div, .photo-div {
    margin: 5px;
}
.video, .photo {
    height: 300px;
}
.photographer {
    display: none;
    position: relative;
    /* text-align: left; */
    /* left: -100px; */
}
.photographer:hover {
    display: block;
}