* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
    background-color: #f1f1f1;

}
header {
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url('assets/background.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
}
#search-form {
    width: 30%;
    padding: 15px;
    background-color: peachpuff;
    border-radius: 5px;
}
#search-bar {
    /* padding: 20px; */
    border: none;
}
#search-button {
    margin-left: 0px;
}
.hidden {
    display: none;
}
.photo-div a:hover {
    display: block;
}